<html>
{{ block("head", "head.twig") }}
    <body>
    {{ block("Navigation", "navigation.twig") }}
    {% if  error == false %}
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>{{post.title}}</h2>
                        <hr class="star-primary">
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <p><strong>{{post.leadParagraph}}</strong></p>
                        <p>{{post.content}}</p>
                        <p><i>Auteur : {{ post.author }} | Date de création : {{post.creationDate}} | Dernière modification : {{post.modificationDate}}</i></p>
                    </div>
                <div>
            <div>
            {% if isLog %}
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h3>commentaires</h3>
                    </div>
                    {% if addComment == true %}
                    <div class="col-lg-12 text-center">
                    
                        {% if addComment_result == true %}
                            {% if is_admin == 0 %}
                            <p>Votre commentaire a été rajouté. Il est en attente de validation par l'administrateur du site</p>
                            {% else %}
                            <p>Votre commentaire a été rajouté.</p>
                            {% endif %}
                        {% else %}
                            <p>Erreur, votre commentaire n'a pas été rajouté</p>
                        {% endif %}
                    
                    </div>
                    {% endif %}
                    <div class="col-lg-12 text-center">
                        <div class="col-lg-12 text-center">
                            <form methode="post" action="/display_post/" name="sentMessage" id="contactForm" novalidate="">
                                
                                <input name="post_id" type="hidden" value="{{post.id}}">
                                <input name="addComment" type="hidden" value="1">
                                
                                <div class="row control-group">
                                    <div class="form-group col-xs-12 d-flex justify-content-center">
                                        <textarea class="border form-control w-50" name="comment" rows="5" placeholder="Ajouter un nouveau commentaire..."></textarea>
                                    </div>
                                </div>                       
                                <br>
                                <div id="success"></div>
                                <div class="row">
                                    <div class="form-group col-xs-12">
                                        <button type="submit" class="btn btn-success btn-lg">Envoyer</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        {% if (comments | length) > 0 %}
                        <div>
                            
                            <hr>
                            {% for comment in comments %}
                                {% if comment.validated == true %}
                                <p><strong>{{ comment.comment }}</strong></p>
                                <p>Auteur : {{ comment.author_login }} | date : {{ comment.creationDate }}</p>
                                <hr>
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% endif %}
                        <div>
                            <a href="/">Retour à l'accueil</a>
                        </div>  
                    </div>
                <div>
            <div>
        </section>
        {% else %}
            <div class="h-75 col-lg-12 text-center">
                <h1 class="mt-3">Une erreur est survenue</h1>
            </div>        
        {% endif %}
    </body>
        {{ block("Footer", "footer.twig") }}
</html>